.div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: large;
    text-align: center;
}

.back {
    margin: 10px auto auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}